<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/">Brand</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User Managment</a>
    <div class="dropdown-menu">
      {{# if login}}
        <a class="dropdown-item" href="/user/profile">User Account</a>
        <a class="dropdown-item" href="/user/logout">logout</a>
        
      
      {{else}}
          <a class="dropdown-item" href="/user/signup">signup</a>
          <a class="dropdown-item" href="/user/signin">signin</a>
      {{/if}}
      
      
    </div>
  </li>
  <li class="nav-item">
    <div> 
      <span class="badge">{{session.cart.totalQty}}</span>
      <a class="nav-link" href="/shopping-cart">Shopping Cart</a>
    </div>
    
  </li>
  
</ul>