<div class="row">
  <div class="col-4">
<div class="card picture" style="width: 18rem;">
  <img src="images/download.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Modern Warfare</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non temporibus suscipit sint, quae atque sit sapiente quibusdam nisi animi aut exercitationem ratione labore ipsum dolor ducimus cupiditate quas. Commodi, voluptas?</p>
    <div class="clearfix">
        <div class="price pull-left"><b>12$</b></div>
        <a href="#" class="btn btn-success pull-right">Add To Cart</a>
    </div>
    
  </div>
</div>
  </div>  

 <div class="col-4">
<div class="card picture" style="width: 18rem;">
  <img src="images/download.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Modern Warfare</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non temporibus suscipit sint, quae atque sit sapiente quibusdam nisi animi aut exercitationem ratione labore ipsum dolor ducimus cupiditate quas. Commodi, voluptas?</p>
    <div class="clearfix">
        <div class="price pull-left"><b>12$</b></div>
        <a href="#" class="btn btn-success pull-right">Add To Cart</a>
    </div>
    
  </div>
</div>
  </div>  
 <div class="col-4">
<div class="card picture" style="width: 18rem;">
  <img src="images/download.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Modern Warfare</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non temporibus suscipit sint, quae atque sit sapiente quibusdam nisi animi aut exercitationem ratione labore ipsum dolor ducimus cupiditate quas. Commodi, voluptas?</p>
    <div class="clearfix">
        <div class="price pull-left"><b>12$</b></div>
        <a href="#" class="btn btn-success pull-right">Add To Cart</a>
    </div>
    
  </div>
</div>
  </div>  
</div>

</div>
